<app-nav></app-nav>
<br>
<br>
<div class="input-group rounded">
  <input type="search" [(ngModel)]="searchTerm" class="form-control rounded" placeholder="Search With API" aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <button type="button" class="btn btn-primary" data-mdb-ripple-init (click)="applyFilterWithBackend(searchTerm)">
      <i class="fas fa-search"></i>
    </button>
  </span>
</div>
<br>
<br>
<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4" *ngFor="let item of filteredCards">
      <div class="card" style="margin: 20px auto; background-color: #f8f9fa;">
        <div class="row g-0 align-items-center">
          <div class="col-md-8">
            <div class="card-body text-center">
              <h3 class="card-title" style="font-weight: 700;">{{ item.name }}</h3>
              <p class="card-text">Gender: {{ item.gendear }}</p>
              <p class="card-text">Date Of Birth: {{ item.dateOfBirth }}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <i class="fas fa-map-marker-alt"></i> {{ item.address }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-phone"></i> {{ item.phone }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-envelope"></i> {{ item.email }}
                </li>
              </ul>
              <div class="example-button-row" style="margin-top: 15px;">
                <button mat-raised-button class="btn btn-outline-primary" color="warn" (click)="item.id ? ConfirmDialogToDelete(item.id) : null">Delete</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Export
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Export to XML</a></li>
                    <li><a class="dropdown-item">Export to CSV</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <img [src]="item.photo" class="img-fluid rounded-end" alt="{{ item.name }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 100]" [length]="totalItems" [pageSize]="pageSize"
(page)="handlePage($event)">
</mat-paginator></div>




